{% layout 'theme' %}

<section class="custom-page-section">
<div class="simple-banner-section">
  <div class="banner-image" style="background-image: url('{{ 'banner-imageBG.png' | asset_url }}');">
    <div class="text-overlay">
      <h2>Your Text Here</h2>
    </div>
  </div>
</div>

<style>
  .simple-banner-section {
    position: relative;
    height: 500px;
   margin-left: auto;
  margin-right: auto;
  }
  .banner-image {
    background-size: cover;
    background-position: center;
    height: 100%;
    position: relative;
  }
  .text-overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
  }
</style>
</section>
